<div class="container">
    <div class="card">
        <div class="icon">
            <i class="bi bi-person-plus"></i>
        </div>
        <h2 class="title">Registro</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form">
            <div class="form-group">
                <label for="username">
                    <i class="bi bi-person"></i>
                </label>
                <input id="username" type="text" formControlName="username" placeholder="Ingrese su usuario">
            </div>
            <div class="form-group">
                <label for="email">
                    <i class="bi bi-envelope"></i>
                </label>
                <input id="email" type="email" formControlName="email" placeholder="Ingrese su correo (@)">
            </div>
            <div class="form-group">
                <label for="phone">
                    <i class="bi bi-phone"></i>
                </label>
                <input id="phone" type="text" formControlName="phone" placeholder="Ingrese su teléfono">
            </div>
            <div class="form-group">
                <label for="password">
                    <i class="bi bi-lock"></i>
                </label>
                <input id="password" type="password" formControlName="password" placeholder="Ingrese su contraseña">
            </div>
            <div class="form-group">
                <label for="confirmPassword">
                    <i class="bi bi-lock"></i>
                </label>
                <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirme su contraseña">
            </div>
            <button type="submit" [disabled]="!registerForm.valid">Registrarse</button>
        </form>
    </div>
</div>
