body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f4f6;
    animation: fadeInBackground 1s ease-in-out;
}

@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.confirmation-message {
    color: rgb(7, 67, 7);
    font-size: 1em;
    margin-top: 10px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(115, 26, 102, 0.2);
    text-align: center;
    animation: fadeInCard 1s ease-in-out;
    transition: box-shadow 0.3s ease;
}

@keyframes fadeInCard {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.icon i {
    font-size: 80px;
    color: #f742eb;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    color: #f742eb; 
    font-size: 28px;
    text-transform: uppercase;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

label {
    font-size: 18px;
    margin-right: 10px;
    transition: color 0.3s ease;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #f742eb;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    background-color: #f742eb; 
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: buttonAppear 0.5s ease-in-out; 
}

button:hover {
    background-color: #024752;
    transform: translateY(-2px);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.forgot-password {
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
    color: #0056b3;
}

@keyframes buttonAppear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
